# dbt-Related Libraries
dbt-core==1.9.4  # https://pypi.org/project/dbt-core/
dbt-snowflake==1.9.4  # https://pypi.org/project/dbt-snowflake/
snowflake-connector-python==3.15.0  # Snowflake Connector for Python

# SQLFluff libraries
sqlfluff-templater-dbt==3.3.0  # https://pypi.org/project/sqlfluff-templater-dbt/
sqlfluff==3.3.0  # https://pypi.org/project/sqlfluff/

# Azure libs
azure.identity
azure.keyvault.secrets

# Commonly Used/CLI libraries
awscliv2
boto3  # AWS SDK for Python
j2cli  # command-line interface to Jinja2 for templating in shell scripts.
Jinja2  # command-line interface to Jinja2 for templating in shell scripts.
pre-commit  # A framework for managing and maintaining multi-language pre-commit hooks.
pytest  # Simple, robust testing with Python
python-dateutil  # provides powerful extensions to the standard datetime module.
python-dotenv  # Read key-value pairs from a .env file and set them as environment variables
pyyaml  # YAML parser and emitter for Python
requests  # simple HTTP library for Python
s3transfer  # library for managing Amazon S3 transfers
s3fs  # a Pythonic file interface to S3. It allows you to work with S3 as if it were a file system
setuptools  # essential for Python development, Setuptools is a collection of enhancements to the Python distutils for easily building and distributing Python packages
urllib3  # HTTP client for Python
virtualenv  # Virtual Python Environment builder
virtualenvwrapper  # Set of extensions for virtualenv. These include wrappers for creating/deleting virtual environments - making it easier to work on multiple projects without introducing conflicts in their dependencies.
wget  # Pure Python download utility
wheel  # a built-package format for Python, making it easier to distribute Python software
yq  # Command-line YAML/XML processor - jq wrapper for YAML/XML documents

# Code Quality libraries
black  # The uncompromising code formatter.
flake8  # The modular source code checker: pep8 pyflakes and co
pylint  # Python code static checker

# Database-Related Libraries
pymssql  # DB-API interface to Microsoft SQL Server for Python.
pyodbc  # pyodbc is an open-source Python module that makes accessing ODBC databases simple.
sqlalchemy  # Python SQL toolkit and Object Relational Mapper that gives application developers the full power and flexibility of SQL

# File Parsing libraries
numpy  # fundamental package for scientific computing in Python
openpyxl  # Python library to read/write Excel 2010 xlsx/xlsm files
pandas  # Powerful data structures for data analysis, time series, and statistics

# General Purpose
diagrams
Faker
